* {
	font-size: 16px;
	font-family: Fira Code, monospace;
}

window#waybar {
	background: transparent;
	color: #cfcfcf;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #181818;
	background: transparent;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #262626;
	background: #181818;
}

#clock.2 {
	background: #262626;
	font-weight: bold;
}

#modules-center {
	margin-right: 1rem;
}


#workspaces,
#clock.1,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #181818;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #33b1ff;
	padding: 0 10px;
}
#memory, #cpu, #battery, #disk {
	color: #AFAFAF;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 12px;
}
